
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# Dependency directories (remove the comment below if you do not use go modules)
# vendor/

# Go workspace file
go.work

# Environment variables
.env

# Log files
*.log

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store

# Project-specific files
tmp/
cmd/server/tmp/
